body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#without-css {
    border: 1px solid #000;
    padding: 10px;
}

#with-css {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the h2 in the #with-css section */
#with-css h2 {
    color: #4CAF50;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.styled-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #45a049;
}
